<head>
    <title>
        College Schedules
    </title>
    <!-- bootstrap style link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- css style link -->
    <!-- <link href="static/css/style.css" rel="stylesheet" type ="text/css" /> -->
    
    <style>
        .box {
            height: 100%;
            justify-content: center;
            box-shadow: inset 0 0 0 1px black;
            padding: 0%;
        }
        .week-header{
            background-color: #ffc670;
            font-weight: bold;
            text-align: center;
            box-shadow: inset 0 0 0 1px black;
            height: 100%;
            overflow: hidden;
        }
        .col-5th {
            flex: 0 0 auto;
            width: 20%;
        }
        .time {
            width: 100%; 
            text-align: center; 
            border-bottom: 1px solid #000; 
            line-height: 0.1em;
            padding: 0;
            /* margin: 10px 0 20px;  */
        } 
        .section {
            background: #fff;
            padding: 0 0px;
        }
        .timestamp {
            width: 100%;
            margin: 0%;
            height: 7.142857%;
        }
        .tab {
            border-right: 1px solid #000;
            padding: 0;
            margin: 0;
        }
        
        /*Bootstrap source code for reference*/
        /* .row-cols-2 > * {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        } */

    </style>
</head>

<body>
    <div id="start" hidden> 8 </div>
    <div id="end" hidden> 22 </div>
    <div id="numPeople" hidden> 6 </div>

    <div class="container-fluid" style="height: 94vh; width: 94vw; margin: 3vh 3vw 3vh 3vw;">
        <div class="row" style="height: 100%;">
            <!-- sidebar -->
            <div class="col-2" style="padding: 0%; height: 100%;">
                <div class="box">
                    <div class="week-header">
                        List
                    </div>
                </div>
            </div> 
            <!-- end sidebar -->

            <!-- times -->
            <div class="col-1" style="padding: 0%; height: 100%;">
                <div class="week-header" style="height: 5%; background-color: #fff; box-shadow: none; margin-bottom: 1px;">
                </div>
                <div id="times" class="box" style="height: 95%;">
                    <script>
                        // get start and end times
                        var start = parseInt(document.getElementById("start").innerHTML)
                        var end = parseInt(document.getElementById("end").innerHTML)
                        // get the parent container
                        var times = document.getElementById("times")

                        for(let i = start; i <= end; i++) {

                            // create the element
                            var row = document.createElement("div")
                            row.setAttribute("class", "row timestamp")
                            var time = document.createElement("div")
                            time.setAttribute("class", "time")
                            var section = document.createElement("span")
                            section.setAttribute("class", "section")
                            section.innerHTML = i.toString() + ":00"

                            if (i == end) {
                                row.setAttribute("style", "width: 100%; margin:0%; height:0%;")
                                time.setAttribute("style", "height: 0; border-bottom: 0;")
                            }

                            time.appendChild(section)
                            row.appendChild(time)
                            
                            times.appendChild(row)

                        }
                    </script>

                    <!-- <div class="row timestamp" style="width: 100%; margin: 0%; height: 0%;">
                        <div class="time" style="height: 0; border-bottom: 0;"><span class="section">22:00</span></div>
                    </div> -->
                </div>
            </div>
            <!-- end time -->

            <div class="col-9" style="height: 100%;">

                <!-- weekdays -->
                <div class="row" style="height: 5%;">
                    <div class="col-5th" style="padding: 0%;">
                        <div class="week-header">Mon</div>
                    </div>
                    <div class="col-5th" style="padding: 0%;">
                        <div class="week-header">Tue</div>
                    </div>
                    <div class="col-5th" style="padding: 0%;">
                        <div class="week-header">Wed</div>
                    </div>
                    <div class="col-5th" style="padding: 0%;">
                        <div class="week-header">Thu</div>
                    </div>
                    <div class="col-5th" style="padding: 0%;">
                        <div class="week-header">Fri</div>
                    </div>
                </div>
                <!-- end weekdays -->

                
                <div id="weekdays" class="row" style="height: 95%;">
                    <!-- Monday -->
                    <div class="col-5th" style="padding: 0%;">
                        <div id="monday" class="box"></div>
                    </div>
                    <!-- Tuesday -->
                    <div class="col-5th" style="padding: 0%;">
                        <div id="tuesday" class="box"></div>
                    </div>
                    <!-- Wednesday -->
                    <div class="col-5th" style="padding: 0%;">
                        <div id="wednesday" class="box"></div>
                    </div>
                    <!-- Thursday -->
                    <div class="col-5th" style="padding: 0%;">
                        <div id="thursday" class="box"></div>
                    </div>
                    <!-- Friday -->
                    <div class="col-5th" style="padding: 0%;">
                        <div id="friday" class="box"></div>
                    </div>
                </div>
                <script>
                    var weekdays = document.getElementById("weekdays")
                    for(var child of weekdays.children) {
                        var day = (child.children)[0]
                        var dayName = day.id
                        // for each day of the week
                        for(let i = start; i < end; i++) {
                            // create the element
                            var row = document.createElement("div")
                            row.setAttribute("class", "row timestamp")
                            var time = document.createElement("div")
                            time.setAttribute("class", "time")
                            var innerRow = document.createElement("div")
                            innerRow.setAttribute("class", "row")
                            innerRow.setAttribute("style", "height:100%; padding-right:1px; padding-left:1px; margin:0; padding-bottom:0; padding-top:0")

                            time.appendChild(innerRow)
                            row.appendChild(time)
                            day.appendChild(row)

                            var numPeople = parseFloat(document.getElementById("numPeople").innerHTML)
                            // for every person
                            for(let j = 0; j< numPeople; j++) {

                                var tabs = document.createElement("div")
                                tabs.setAttribute("style", "padding:0px; overflow:hidden; flex: 0 0 auto; width:" + (100/numPeople) + "%;")
                                tabs.setAttribute("id", dayName + " " + parseInt(i) + " " + parseInt(j))
                                // tabs.innerHTML = "hi"
                                innerRow.appendChild(tabs)
                            }
                        }
                    }
                </script>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="../static/javascript/main.js"></script>
</body>